{% extends "base.html" %} 
{% load static %}

{% block content %}
    <section id="spotlight" class="wrapper flex-wrapper">
            <section class="content">
                <h1><span>StartUp Landing </span><br/>Page Template Free</h1>
                <p>Use Evolo free landing page template to promote your business startup and generate leads for the offered services.</p>
                <a href="#" class='button'>DISCOVER</a>
            </section>
            <section class="right_container">
                <div class="image_container">
                    <img class="background" src="{% static 'images/header-background.jpg' %}" alt="" />
                    <img class="teamwork" src="{% static 'images/header-teamwork.svg' %}" alt="" /> 
                </div>
            </section>           
    </section> <!-- section#spotlight -->

    <section id="customers">
        <section class="wrapper">
            <p>Trusted By</p>
            <ul>
                {% for customer in customers %}
                    <li><a href="#"><img src="{{customer.logo.url}}" alt="logo" /></a></li>
                {% endfor %}
            </ul>
        </section>
    </section> <!-- section#customers -->

    <section id="services">
        <section class="wrapper">
            <h2>Business Growth Services</h2>
            <p>We serve small and medium sized companies in all tech related industries with high quality growth services which are presented below.</p>
            <ul>
                {% for service in services %}
                <li>
                    <img src="{{service.image.url}}" alt=""/>
                    <h3>{{service.title}}</h3>
                    <p>{{service.description}}</p>
                </li>
                {% endfor %}
            </ul>
        </section>
    </section> <!-- section#services -->

    <section id="features">
        <section class="wrapper">
            {% for feature in features %}
                <section class="item">
                    <div class="content">
                        <h2>{{feature.title}}</h2>
                        <p>{{feature.description}} </p>
                        <ul>
                            {% for item in feature.list_items %}
                                <li>
                                    <img src="{% static 'images/check.png' %}" alt=""/>
                                    <p>{{item}}</p>
                                </li>
                            {% endfor %}
                        </ul>
                        <a href="#" class="button">LIGHTBOX</a>
                    </div>
                    <div class="image_container">
                        <img src="{{feature.image.url}}" alt="">
                    </div>
                </section>
            {% endfor %}
        </section>
    </section> <!-- section#features -->

    <section id="pricing">
        <section class="wrapper">
            <h2>Multiple Pricing Options</h2>
            <p>We've prepared pricing plans for all budgets so you can started right away. They're great for small companies and large organizations. </p>
            <ul>
                {% for price in pricings %}
                <li>
                    <h3>{{price.title}}</h3>
                    <p>{{price.description}}</p>   
                    <div class="price">
                        <span>&#36;</span><h1>{{price.price_in_dollar}}</h1>
                        <label>Monthly</label>
                    </div>                                                       
                    <ul>
                        {% for item in price.feature_list %}
                        <li>
                            <img src="{% static 'images/check.png' %}" alt="check">
                            <span>{{item}}</span>
                        </li>
                        {% endfor %}
                        
                        {% for item in price.not_feature_list %}
                        <li>
                            <img src="{% static 'images/cancel.png' %}" class="cancel" alt="cancel">
                            <span>{{item}}</span>
                        </li>
                        {% endfor %}
                    </ul>
                    <a href="#" class="button">REQUEST</a>
                </li>
                {% endfor %}
            </ul>
        </section>
    </section>  <!-- section#pricing -->

    <section id="contact">
        <section class="wrapper">
            <div class="left">
                <h3>Fill The Following Form To Request A Meeting</h3>
                <p>Evolo is one of the easiest and feature acked marketing automation apps in the market. Discover what it can do for your business organization right away.</p>
                <ul>
                    <li>
                        <img src="{% static 'images/check.png' %}" alt="check"/>
                        <p><span>Automate your marketing </span>activities and get results today</p>
                    </li>
                    <li>
                        <img src="{% static 'images/check.png' %}" alt="check"/>
                        <p><span>Interact with all your </span>targeted customers at a personal level</p>
                    </li>
                    <li>
                        <img src="{% static 'images/check.png' %}" alt="check"/>
                        <p><span>Convince them to buy </span>your company's awesome products</p>
                    </li>
                    <li>
                        <img src="{% static 'images/check.png' %}" alt="check"/>
                        <p><span>Save precious time </span>and invest it where you need it the most</p>
                    </li>
                </ul> 
            </div>
            <div class="right">
                <form action="{% url 'web:contact' %}" method="POST" class="ajax">
                        {% csrf_token %}
                        <div class="input">{{form.full_name}}</div>
                        <div class="input">{{form.email}}</div>                       
                        <div class="input">{{form.phone}}</div>
                        <div class="input">{{form.interested_in}}</div>
                        <div class="full checkbox">
                            {{form.user_agreement}}
                            <label for="{{form.user_agreement.id_for_label}}">I agree with Evolo's stated <a href="#">Privacy Policy</a> and <a href="#">Terms & Conditions</a> </label>
                        </div>
                        <div class="full">
                            <input class="submit" type="submit" value="REQUEST" />
                        </div>
                </form>
            </div>
        </section>
    </section> <!-- section#contact -->

    <section id="video">
        <section class="wrapper">
            <h2>Check Out The Video</h2>
            {% for video in videos %}
            <div class="video-frame">
                <img src="{{video.image.url}}" alt="video" class="main-image">
                <img src="{% static 'images/play.svg' %}" alt="play" class="play">
            </div>        
            {% endfor %}
            <p>The video will show you a case study for one of our <span>Major Customers </span>and will help you understand why your startup needs Evolo in this highly competitive market.</p>
        </section>
    </section> <!-- section#video -->

    <section id="team-members">
        <section class="wrapper">
            <div class="top">
                <h2>About The Team</h2>
                <p>Meat our team of specialized marketers and business developers which will help you research new products and launch them in new emerging markets.</p>
            </div>
            <div class="bottom">
                <ul>
                    {% for member in team_members %}
                    <li>
                        <img src="{{member.image.url}}" alt="{{member.name}}">
                        <h3>{{member.name}}</h3>
                        <p>{{member.designation}}</p>
                        <div class="social-icons">
                            <img src="{% static 'images/facebook.png' %}" alt="facebook">
                            <img src="{% static 'images/twitter.png' %}" alt="twitter">
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </section>
    </section> <!-- section#team-members -->

    <section id="footer">
        <section class="wrapper">
            <div class="top">
                <div class="item">
                    <h4>About Evolo</h4>
                    <p>We're passionate about offering some of the best business growth services for startups</p>
                </div>
                <div class="item">
                    <h4>Important Links </h4>
                    <ul>
                        <li>
                            <p>Our business partners <a href="#">startuguide.com</a></p>
                        </li>
                        <li>
                            <p>Read our <a href="#">Terms & Conditions</a><a href="#">Privacy Policy</a></p>
                        </li>
                    </ul>
                </div>
                <div class="item">
                    <h4>Social Media</h4>
                    <img src="{% static 'images/facebook.png' %}" alt="facebook">
                    <img src="{% static 'images/twitter.png' %}" alt="twitter">
                    <img src="{% static 'images/google-plus.png' %}" alt="google-plus">
                    <img src="{% static 'images/instagram.png' %}" alt="instagram">
                    <img src="{% static 'images/linkedin.png' %}" alt="linkedin">
                </div>
            </div>
            <div class="bottom">
                <small>Copyright &copy;2021 - All rights reserved</small>
            </div>
        </section>
    </section>
{% endblock %}